<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeleniumAdvanced.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SeleniumAdvanced.Properties.Settings>
            <setting name="SeleniumAdvanced_GetPlayer_NBA" serializeAs="String">
                <value>http://localhost:62949/NBA.asmx</value>
            </setting>
        </SeleniumAdvanced.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NBASoap" />
                <binding name="CustomersServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62949/NBA.asmx" binding="basicHttpBinding"
                bindingConfiguration="NBASoap" contract="NbaService.NBASoap"
                name="NBASoap" />
            <endpoint address="http://localhost:62949/CustomersService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CustomersServiceSoap"
                contract="accountsService.CustomersServiceSoap" name="CustomersServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>